
  .header-title
    .header-list
      = link_to image_tag("Music-Life", alt: "image", class: "header-logo"), "/"
      .title
        = link_to "このサイトについて", "/posts", class: "title"
      - if user_signed_in?
        .user_nav-grid-6
          .sign-out
            = link_to "ログアウト", "/users/sign_out", method: :delete
          .sign-create
            = link_to  "投稿する", "/posts/new"
          .lists
            = link_to  "投稿一覧", "/posts/show"
      - else
        .grid-6
          .sign-up
            = link_to "新規登録", "/users/sign_up"
          .login
            = link_to "ログイン", "/users/sign_in"
              .header-title
    .header-list
      = link_to image_tag("Music-Life", alt: "image", class: "header-logo"), "/"
      .title
        = link_to "このサイトについて", "/posts", class: "title"
      - if user_signed_in?
        .user_nav-grid-6
          .sign-out
            = link_to "ログアウト", "/users/sign_out", method: :delete
          .sign-create
            = link_to  "投稿する", "/posts/new"
          .lists
            = link_to  "投稿一覧", "/posts/show"
            -# - @posts.each do |post|
            -# 　 = post.user.nickname
      - else
        .grid-6
          .sign-up
            = link_to "新規登録", "/users/sign_up"
          .login
            = link_to "ログイン", "/users/sign_in"
            

