.wrap

  .contents
    = form_with model: @post, class: :form, local: true do |form|
      %h3 投稿する
      = form.text_field :title, placeholder: :タイトル, class: :form__title
      = form.text_area :content, placeholder: :ブログ本文, class: :form__text
      = form.label "画像をアップロード" do
        = form.file_field :image , class: :form__image
      = form.submit '投稿する', class: :form__btn
  .footer-new
-# = icon('fas fa-music', class: 'form__image__icon')