.wrap

  .content
    - @posts.each do |post|
      .content-list
        .content__title
          %p タイトル
          = post.title
        .content__review
          %p コメント
          = post.content
        .form__image
        - if post.image?
          = image_tag post.image.url 
        .content__user
          = link_to "/posts/user.id/search" do
            = post.user.nickname
          %b
          = post.created_at

